// =============================================================
//     
//  Button styles
//	
// ============================================================= 

/* Button Styles */
.btn-label {
	vertical-align: middle;
	padding: .25rem .5rem; 
	background-color: @success-color;
	color: @base-white;
	.border-radius(@border-radius);
}

.btn {
  .button-size(@base-padding-vertical, @base-padding-horizontal, @btn-font-size, @base-line-height, @border-radius);
  border: 1px solid transparent;
  color: @base-color-777;
  display: inline-block;
  font-family: @primary-font;
  font-weight: @btn-font-weight;
  outline: 0;
  cursor: pointer;
  text-decoration: none;
  .transition(background-color 250ms ease-out); 
}

// Button Block
.btn--full { 
  display: block;
  width: 100%; 
}

// Large Button
.btn--lg { 
  .button-size(@base-padding-lg-vertical, @base-padding-lg-horizontal, @btn-font-size-lg, @line-height-lg, @border-radius) 
}

// Small Button
.btn--sm {
  .button-size(@base-padding-sm-vertical, @base-padding-sm-horizontal, @btn-font-size-sm, @line-height-sm, @border-radius)
}

// Default Button	
.btn--default {
	.button-version(@btn-default-color, @btn-default-bg, @btn-default-border);
}

// Primary Button
.btn--primary {
	.button-version(@btn-primary-color, @btn-primary-bg, @btn-primary-border);
}

// Danger Button
.btn--danger {
	.button-version(@btn-danger-color, @btn-danger-bg, @btn-danger-border);
}

// Info Button
.btn--info {
	.button-version(@btn-info-color, @btn-info-bg, @btn-info-border);
}

// Warning Button
.btn--warning {
	.button-version(@btn-warning-color, @btn-warning-bg, @btn-warning-border);
}

// Success Button
.btn--success {
	.button-version(@btn-success-color, @btn-success-bg, @btn-success-border);
}