 
//
//  Helper classes throughout Schema
//  
//  =============================================================

.hide-text {
  font: 0/0;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0; 
}

.left-float { 
  float: left; 
}	

.right-float { 
  float: right; 
}	

.center-float {
  margin: 0 auto; 
}

.no-float {
  float: none; 
}
                           
.text-left {
  text-align: left; 
}

.text-right { 
  text-align: right; 
}

.text-center { 
  text-align: center; 
}

.justified { 
  text-align: justify; 
}

@media @bp-desktop {
	.desktop-hidden {
		visibility: hidden;
		display: none;
	}
}

@media @bp-tablet {
	.tablet-hidden {
		visibility: hidden;
		display: none;
	}
}

@media @bp-mobile {
	.mobile-hidden {
		visibility: hidden;
		display: none;
	}
}

@media @bp-mobile {
  .show-mobile {
  	visibility: visible;
  	display: block;
  }
}

.show-mobile {
	display: none;
	visibility: hidden; 
	
	@media @bp-mobile {
		display: block;
		visibility: visible;
	}
}