/*
 *  Schema UI Framework
 *
 *  The MIT License (MIT)
 *  Copyright @2013 Dan Malarkey
 *
 *	Permission is hereby granted, free of charge, to any person obtaining a copy
 *	of this software and associated documentation files (the "Software"), to deal
 *	in the Software without restriction, including without limitation the rights
 *	to use, copy, modify, merge, publish, distribute, sublicense, and/or sell
 *	copies of the Software, and to permit persons to whom the Software is
 *	furnished to do so, subject to the following conditions:
 *	
 *	The above copyright notice and this permission notice shall be included in
 *	all copies or substantial portions of the Software.
 *	
 *	THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
 *	IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
 *	FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE
 *	AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
 *	LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
 *	OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN
 *	THE SOFTWARE.
 * 
 *  http://opensource.org/licenses/MIT
 *
 *  Design + built by @dan_malarkey.
 */

/* #Clear Fixs
================================================== */

.clearfix {
  *zoom: 1;
}

.clearfix:before,
.clearfix:after {
  display: table;
  line-height: 0;
  content: "";
}

.clearfix:after {
  clear: both;
}

.hide-text {
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0;
}

.input-block-level {
  display: block;
  width: 100%;
  min-height: 30px;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}


/* #media query 1200px
================================================== */

@media (min-width: 1200px) {
  
  .row { margin-left: -30px; margin-left: -1.875em; *zoom: 1; }

  .row:before,
  .row:after {
    display: table;
    line-height: 0;
    content: "";
  }
  .row:after { clear: both; }
  
  [class*="col"] {
    float: left;
    min-height: 1px;
    margin-left: 30px;
    margin-left:1.875em;
  }
  .container { width: 1170px; width: 73.125em; }
  .col12 { width: 1170px; width: 73.125em; }
  .col11 { width: 1070px; width: 66.875em; }
  .col10 { width: 970px; width: 60.625em; }
  .col9 { width: 870px; width: 54.375em; }
  .col8 { width: 770px; width: 48.125em; }
  .col7 { width: 670px; width: 41.875em; }
  .col6 { width: 570px; width: 35.625em; }
  .col5 { width: 470px; width: 29.375em; }
  .col4 { width: 370px; width: 23.125em; }
  .col3 { width: 270px; width: 16.875em; }
  .col2 { width: 170px; width: 10.625em; }
  .col1 { width: 70px; width: 4.375em;  }
  
  .offset12   { margin-left: 1230px; width: 76.875em; }
  .offset11   { margin-left: 1130px; width: 70.625em; }
  .offset10   { margin-left: 1030px; width: 64.375em; }
  .offset9  { margin-left: 930px; width: 58.125em; }
  .offset8  { margin-left: 830px; width: 51.875em; }
  .offset7  { margin-left: 730px; width: 45.625em; }
  .offset6  { margin-left: 630px; width: 39.375em; }
  .offset5  { margin-left: 530px; width: 33.125em; }
  .offset4  { margin-left: 430px; width: 26.875em; }
  .offset3  { margin-left: 330px; width: 20.625em; }
  .offset2  { margin-left: 230px; width: 14.375em; }
  .offset1  { margin-left: 130px; width: 8.125em; }

  .row-fluid { width: 100%; *zoom: 1; }
  
  .row-fluid:before,
  .row-fluid:after {
    display: table;
    line-height: 0;
    content: ""; }
  
  .row-fluid:after { clear: both; }
  
  .row-fluid [class*="col"] {
    display: block;
    float: left;
    width: 100%;
    min-height: 30px;
    margin-left: 2.56%;
    *margin-left: 2.51%;
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box; }

  .row-fluid [class*="col"]:first-child { margin-left: 0; }

  .row-fluid .controls-row [class*="col"] + [class*="col"] { margin-left: 2.56%; }
  .row-fluid .col12 { width: 100%; }
  .row-fluid .col11 { width: 91.45%; }
  .row-fluid .col10 { width: 82.90%; }
  .row-fluid .col9 { width: 74.35%; }
  .row-fluid .col8 { width: 65.81%; }
  .row-fluid .col7 { width: 57.26%; }
  .row-fluid .col6 { width: 48.71%; }
  .row-fluid .col5 { width: 40.17%; }
  .row-fluid .col4 { width: 31.62%; }
  .row-fluid .col3 { width: 23.07%; }
  .row-fluid .col2 { width: 14.52%; }
  .row-fluid .col1 { width: 5.98%; }

  .row-fluid .offset12 { margin-left: 105.12%; }
  .row-fluid .offset12:first-child { margin-left: 102.56%; }
  .row-fluid .offset11 { margin-left: 96.58%; }
  .row-fluid .offset11:first-child { margin-left: 94.01%; }
  .row-fluid .offset10 { margin-left: 88.03%; }
  .row-fluid .offset10:first-child { margin-left: 85.47%; }
  .row-fluid .offset9 { margin-left: 79.48%; }
  .row-fluid .offset9:first-child { margin-left: 76.92%; }
  .row-fluid .offset8 { margin-left: 70.94%; }
  .row-fluid .offset8:first-child { margin-left: 68.37%; }
  .row-fluid .offset7 { margin-left: 62.39%; }
  .row-fluid .offset7:first-child { margin-left: 59.82%; }
  .row-fluid .offset6 { margin-left: 53.84%; }
  .row-fluid .offset6:first-child { margin-left: 51.28%; }
  .row-fluid .offset5 { margin-left: 45.29%; }
  .row-fluid .offset5:first-child { margin-left: 42.73%; }
  .row-fluid .offset4 { margin-left: 36.75%; }
  .row-fluid .offset4:first-child { margin-left: 34.18%; }
  .row-fluid .offset3 { margin-left: 28.20%; }
  .row-fluid .offset3:first-child { margin-left: 25.64%; }
  .row-fluid .offset2 { margin-left: 19.65%; }
  .row-fluid .offset2:first-child { margin-left: 17.09%; }
  .row-fluid .offset1 { margin-left: 11.11%; }
  .row-fluid .offset1:first-child { 
        margin-left: 8.54%; 
      }
    }


/* #(min-width: 768px) and (max-width: 979px)
================================================== */

@media (min-width: 768px) and (max-width: 979px) {
  .row { margin-left: -20px; width: -1.250em; *zoom: 1; }
  .row:before, .row:after { display: table; line-height: 0; content: ""; }
  .row:after { clear: both; }
  
  .nav a.btn {
	  width: 95%;
		margin-right: auto;
		margin-left: auto; 
		margin-top: -10px;
		margin-bottom: 10px;
		text-align: center;
		float: none;
  }

  [class*="col"] { float: left; min-height: 1px; margin-left: 20px; }
  
  .container { width: 724px; width: 45.250em; }
  .col12  { width: 724px; width: 45.250em; }
  .col11  { width: 662px; width: 41.375em; }
  .col10  { width: 600px; width: 37.500em; }
  .col9     { width: 538px; width: 33.625em; }
  .col8     { width: 476px; width: 29.750em; }
  .col7     { width: 414px; width: 25.875em; }
  .col6     { width: 352px; width: 22.000em; }
  .col5     { width: 290px; width: 18.125em; }
  .col4     { width: 228px; width: 14.250em; }
  .col3     { width: 166px; width: 10.375em; }
  .col2     { width: 104px; width: 6.500em; }
  .col1     { width: 42px; width: 2.625em;  }

  .offset12   { margin-left: 764px; width: 47.750em; }
  .offset11   { margin-left: 702px; width: 43.875em; }
  .offset10   { margin-left: 640px; width: 40.000em; }
  .offset9  { margin-left: 578px; width: 36.125em; }
  .offset8  { margin-left: 516px; width: 32.250em; }
  .offset7  { margin-left: 454px; width: 28.375em; }
  .offset6  { margin-left: 392px; width: 24.500em; }
  .offset5  { margin-left: 330px; width: 20.625em; }
  .offset4  { margin-left: 268px; width: 16.750em; }
  .offset3  { margin-left: 206px; width: 12.875em; }
  .offset2  { margin-left: 144px; width: 9.000em; }
  .offset1  { margin-left: 82px; width: 5.125em; }
  
  .row-fluid { width: 100%; *zoom: 1; }
  
  .row-fluid:before,
  .row-fluid:after {
    display: table;
    line-height: 0;
    content: ""; }
  
  .row-fluid:after { clear: both; }
  
  .row-fluid [class*="col"] {
    display: block;
    float: left;
    width: 100%;
    min-height: 30px;
    margin-left: 2.76%;
    *margin-left: 2.70%;
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box; }
  
  .row-fluid [class*="col"]:first-child { margin-left: 0; }
  .row-fluid .controls-row [class*="col"] + [class*="col"] { margin-left: 2.76%; }

  .row-fluid .col12 { width: 100%; }
  .row-fluid .col11 { width: 91.43%; }
  .row-fluid .col10 { width: 82.87%; }
  .row-fluid .col9 { width: 74.30%;  }
  .row-fluid .col8 { width: 65.74%;  }
  .row-fluid .col7 { width: 57.18%;  }
  .row-fluid .col6 { width: 48.61%;  }
  .row-fluid .col5 { width: 40.05%;  }
  .row-fluid .col4 { width: 31.49 }
  .row-fluid .col3 { width: 22.92%; }
  .row-fluid .col2 { width: 14.36%; }
  .row-fluid .col1 { width: 5.80 }

  .row-fluid .offset12 { margin-left: 105.52% }
  .row-fluid .offset12:first-child { margin-left: 102.76% }
  .row-fluid .offset11 { margin-left: 96.96%;  }
  .row-fluid .offset11:first-child { margin-left: 94.19%; }
  .row-fluid .offset10 { margin-left: 88.39% }
  .row-fluid .offset10:first-child { margin-left: 85.63%; }
  .row-fluid .offset9 { margin-left: 79.83%; }
  .row-fluid .offset9:first-child { margin-left: 77.07%; }
  .row-fluid .offset8 { margin-left: 71.27%; }
  .row-fluid .offset8:first-child { margin-left: 68.50%; }
  .row-fluid .offset7 {margin-left: 62.70; }
  .row-fluid .offset7:first-child { margin-left: 59.94%; }
  .row-fluid .offset6 { margin-left: 54.148%; }
  .row-fluid .offset6:first-child { margin-left: 51.38%; }
  .row-fluid .offset5 { margin-left: 45.58%; }
  .row-fluid .offset5:first-child { margin-left: 42.81%; }
  .row-fluid .offset4 { margin-left: 37.01%; }
  .row-fluid .offset4:first-child { margin-left: 34.25%; }
  .row-fluid .offset3 { margin-left: 28.45%; }
  .row-fluid .offset3:first-child { margin-left: 25.69%; }
  .row-fluid .offset2 { margin-left: 19.88%; }
  .row-fluid .offset2:first-child { margin-left: 17.12%; }
  .row-fluid .offset1 { margin-left: 11.32%; }
  .row-fluid .offset1:first-child { 
        margin-left: 8.56%; 
      }  
    }
    
    
/* #(max-width: 767px)
================================================== */

@media (max-width: 767px) {

  .container-fluid {
    padding: 0;
  }
  
  .row { margin-left: 0; }
  
  
  .container {
    width: auto;
    width: 95%;
  }
  .row-fluid {
    width: 100%;
  }
  
  [class*="col"],
  .uneditable-input[class*="col"],
  .row-fluid [class*="col"] {
    display: block;
    float: none;
    width: 100%;
    margin-left: 0;
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
  }
  
  .col12,
  .row-fluid .col12 {
    width: 100%;
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
  }
  
  header h1 { font-size: 5em; }
  
  .row-fluid [class*="offset"]:first-child {
    margin-left: 0;
  }
  .nav a.btn {
	  width: 95%;
		margin-right: 0;
		margin-top: -10px;
		margin-bottom: 10px;
		text-align: center;
  }
}

@media (max-width: 480px) {
	.row { margin-left: 0; }
  }

@media (max-width: 979px) {
  body {
    padding-top: 0;
  }
 }

