.left-float {
  float: left;
}
.right-float {
  float: right;
}
.center-float {
  margin: 0 auto;
}
.text-left {
  text-align: left;
}
.text-right {
  text-align: right;
}
.text-center {
  text-align: center;
}
.justified {
  text-align: justify;
}
.neg-1px {
  letter-spacing: -1px;
}
.hr_thin {
  border: 1px solid #ecf0f1;
}
.hr_medium {
  border: 3px solid #ecf0f1;
}
.hr_thick {
  border: 5px solid #ecf0f1;
}
.hr_thin_w {
  border: 1px solid #ffffff;
}
.hr_medium_w {
  border: 3px solid #ffffff;
}
.hr_thick_w {
  border: 5px solid #ffffff;
}
.drop-shadow {
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.4);
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.4);
}
.round-corners {
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
  border-radius: 6px;
}
.border-bottom {
  border-bottom: 1px solid #ecf0f1;
  padding-bottom: .5em;
  margin-bottom: 1em;
}
/* =============================================================
     
Some example colors. Change out the variables 
to match your brands needs. Simple to implement. 
	
============================================================= */
/* White's + Gray's + Black's
 ----------------------------
*/
/* Yellow's + Orange's + Red's
 ----------------------------
*/
/* Blue's + Green's + Purple's
 ----------------------------
*/
/* new colors
 ----------------------------
*/
