/* =============================================================
     
The Grid System
	
============================================================= */
.row {
  margin-left: -20px;
  *zoom: 1;
}
.row:before,
.row:after {
  display: table;
  line-height: 0;
  content: "";
}
.row:after {
  clear: both;
}
[class*="col"] {
  float: left;
  min-height: 1px;
  margin-left: 20px;
}
.container {
  width: 940px;
  width: 58.750em;
}
.col12 {
  width: 940px;
  width: 58.750em;
}
.col11 {
  width: 860px;
  width: 53.750em;
}
.col10 {
  width: 780px;
  width: 48.750em;
}
.col9 {
  width: 700px;
  width: 43.750em;
}
.col8 {
  width: 620px;
  width: 38.750em;
}
.col7 {
  width: 540px;
  width: 33.750em;
}
.col6 {
  width: 460px;
  width: 28.750em;
}
.col5 {
  width: 380px;
  width: 23.750em;
}
.col4 {
  width: 300px;
  width: 18.750em;
}
.col3 {
  width: 220px;
  width: 13.750em;
}
.col2 {
  width: 140px;
  width: 8.750em;
}
.col1 {
  width: 60px;
  width: 3.750em;
}
.offset12 {
  margin-left: 980px;
  margin-left: 61.250em;
}
.offset11 {
  margin-left: 900px;
  margin-left: 56.250em;
}
.offset10 {
  margin-left: 820px;
  margin-left: 51.250em;
}
.offset9 {
  margin-left: 740px;
  margin-left: 46.250em;
}
.offset8 {
  margin-left: 660px;
  margin-left: 41.250em;
}
.offset7 {
  margin-left: 580px;
  margin-left: 36.250em;
}
.offset6 {
  margin-left: 500px;
  margin-left: 31.250em;
}
.offset5 {
  margin-left: 420px;
  margin-left: 26.250em;
}
.offset4 {
  margin-left: 340px;
  margin-left: 21.250em;
}
.offset3 {
  margin-left: 260px;
  margin-left: 16.250em;
}
.offset2 {
  margin-left: 180px;
  margin-left: 11.250em;
}
.offset1 {
  margin-left: 100px;
  margin-left: 6.250em;
}
.row-fluid {
  width: 100%;
  *zoom: 1;
}
.row-fluid:before,
.row-fluid:after {
  display: table;
  line-height: 0;
  content: "";
}
.row-fluid:after {
  clear: both;
}
.row-fluid [class*="col"] {
  display: block;
  float: left;
  width: 100%;
  min-height: 30px;
  margin-left: 2.12%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.row-fluid [class*="col"]:first-child {
  margin-left: 0;
}
.row-fluid .controls-row [class*="col"] + [class*="col"] {
  margin-left: 2.12%;
}
.row-fluid .col12 {
  width: 100%;
}
.row-fluid .col11 {
  width: 91.48%;
}
.row-fluid .col10 {
  width: 82.97%;
}
.row-fluid .col9 {
  width: 74.46%;
}
.row-fluid .col8 {
  width: 65.95%;
}
.row-fluid .col7 {
  width: 57.44%;
}
.row-fluid .col6 {
  width: 48.93%;
}
.row-fluid .col5 {
  width: 40.42%;
}
.row-fluid .col4 {
  width: 31.91%;
}
.row-fluid .col3 {
  width: 23.40%;
}
.row-fluid .col2 {
  width: 14.895%;
}
.row-fluid .col1 {
  width: 6.38%;
}
.row-fluid .offset12 {
  margin-left: 104.25%;
}
.row-fluid .offset12:first-child {
  margin-left: 102.12%;
}
.row-fluid .offset11 {
  margin-left: 95.74%;
}
.row-fluid .offset11:first-child {
  margin-left: 93.61%;
}
.row-fluid .offset10 {
  margin-left: 87.23%;
}
.row-fluid .offset10:first-child {
  margin-left: 85.10%;
}
.row-fluid .offset9 {
  margin-left: 78.72%;
}
.row-fluid .offset9:first-child {
  margin-left: 76.59%;
}
.row-fluid .offset8 {
  margin-left: 70.21%;
}
.row-fluid .offset8:first-child {
  margin-left: 68.08%;
}
.row-fluid .offset7 {
  margin-left: 61.70%;
}
.row-fluid .offset7:first-child {
  margin-left: 59.57%;
}
.row-fluid .offset6 {
  margin-left: 53.195%;
}
.row-fluid .offset6:first-child {
  margin-left: 51.06%;
}
.row-fluid .offset5 {
  margin-left: 44.68%;
}
.row-fluid .offset5:first-child {
  margin-left: 42.55%;
}
.row-fluid .offset4 {
  margin-left: 36.17%;
}
.row-fluid .offset4:first-child {
  margin-left: 34.04%;
}
.row-fluid .offset3 {
  margin-left: 27.65%;
}
.row-fluid .offset3:first-child {
  margin-left: 25.53%;
}
.row-fluid .offset2 {
  margin-left: 19.14%;
}
.row-fluid .offset2:first-child {
  margin-left: 17.02%;
}
.row-fluid .offset1 {
  margin-left: 10.63%;
}
.row-fluid .offset1:first-child {
  margin-left: 8.51%;
}
[class*="col"].hide,
.row-fluid [class*="col"].hide {
  display: none;
}
[class*="col"].pull-right,
.row-fluid [class*="col"].pull-right {
  float: right;
}
.container {
  margin-right: auto;
  margin-left: auto;
  *zoom: 1;
}
.container:before,
.container:after {
  display: table;
  line-height: 0;
  content: "";
}
.container:after {
  clear: both;
}
.container-fluid {
  padding-right: 20px;
  padding-left: 20px;
  *zoom: 1;
}
.container-fluid:before,
.container-fluid:after {
  display: table;
  line-height: 0;
  content: "";
}
.container-fluid:after {
  clear: both;
}
/* =============================================================
     
All things Typography related. 
	
============================================================= */
h1,
h2,
h3,
h4,
h5,
h6 {
  color: #667273;
  font-family: 'Glegoo', 'Merriweather', 'oswald', 'Armata', 'HelveticaNeue', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  margin-bottom: 0.500rem;
  text-rendering: optimizelegibility;
}
h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a {
  font-weight: inherit;
  font-family: inherit;
}
h1.title,
h3.title {
  font-family: 'oswald', 'Merriweather', 'HelveticaNeue', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  color: #f46801;
  border-bottom: 1px solid #ecf0f1;
  padding-bottom: .5em;
  margin-bottom: 1em;
}
h1.heading,
h3.heading {
  font-family: 'oswald', 'Merriweather', 'HelveticaNeue', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  color: #95a5a6;
  border-bottom: 1px solid #ecf0f1;
  padding-bottom: .5em;
  margin-bottom: 1em;
}
h1 {
  font-size: 36px;
  font-size: 2.250rem;
  line-height: 1.4;
  letter-spacing: -1px;
}
h2 {
  font-size: 31px;
  font-size: 1.938rem;
  line-height: 1.2;
}
h3 {
  font-size: 24px;
  font-size: 1.500rem;
  line-height: 34px;
}
h4 {
  font-size: 18px;
  font-size: 1.125rem;
  line-height: 30px;
}
h5 {
  font-size: 14px;
  font-size: 0.875rem;
}
h6 {
  font-size: 12px;
  font-size: 0.750rem;
  line-height: 21px;
}
.subheader {
  color: #667273;
  text-transform: uppercase;
}
blockquote {
  font: 14px/22px normal helvetica, sans-serif;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 50px;
  padding-left: 15px;
  border-left: 5px solid #f46801;
}
blockquote cite {
  font-weight: bold;
}
p {
  margin: 0 0 1em;
  color: #7f8c8d;
  font-family: 'Armata', 'Merriweather', 'oswald', 'HelveticaNeue', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 0.875em;
  /* 14px */

  line-height: 2.2;
}
p.lead {
  font-size: 1.313rem;
  font-size: 21px;
  line-height: 1.7;
  font-weight: bold;
}
.hide-text {
  font: 0/0;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0;
}
/* =============================================================
     
Here you'll find small, medium, large, and full size buttons.
	
============================================================= */
/* Small buttons  */
.btn.btn-small {
  padding: 10px;
  font-size: 12px;
}
/* XL buttons  */
.btn.btn-xl {
  padding: 25px 40px;
}
/* Full buttons */
.full-btn {
  width: 100%;
}
/* Button Styles */
.btn-label {
  vertical-align: middle;
  float: left;
  padding: 15px 45px 15px 15px;
}
.btn {
  background-color: #34495e;
  background: #34495e;
  border: 1px solid #2c3350;
  color: #ffffff;
  padding: 1em;
  display: inline-block;
  float: left;
  font-size: 0.875em;
  font-family: 'armata';
  cursor: pointer;
  text-shadow: 0px 1px 2px rgba(0, 0, 0, 0.3);
  -moz-transition: background-color 250ms ease-out;
  -webkit-transition: background-color 250ms ease-out;
  transition: background-color 250ms ease-out;
}
.btn:hover {
  background-color: #2c3350;
  background: #2c3350;
  border: 1px solid #2c3350;
}
.btn:active,
.btn:focus {
  box-shadow: inset 0px 3px 6px rgba(0, 0, 0, 0.25), 0 2px 2px #ffffff;
  -webkit-box-shadow: inset 0px 3px 6px rgba(0, 0, 0, 0.25), 0 2px 2px #ffffff;
  -moz-box-shadow: inset 0px 3px 6px rgba(0, 0, 0, 0.25), 0 2px 2px #ffffff;
  color: rgba(255, 255, 255, 0.9);
  -moz-transition: background-color 250ms ease-out;
  -webkit-transition: background-color 250ms ease-out;
  transition: background-color 250ms ease-out;
}
.btn-shadow {
  -moz-box-shadow: inset 0 1px 0px rgba(255, 255, 255, 0.7), 0 2px 2px #ffffff;
  -webkit-box-shadow: inset 0 1px 0px rgba(255, 255, 255, 0.7), 0 2px 2px #ffffff;
  box-shadow: inset 0 1px 0px rgba(255, 255, 255, 0.7), 0 2px 2px #ffffff;
}
.btn-danger {
  background: #e74c3c;
  background-color: #e74c3c;
  border: 1px solid #e74c3c;
}
.btn-danger:hover {
  background: #e43321;
  background-color: #e43321;
  border: 1px solid #e43321;
}
.btn-primary {
  background: #1abc9c;
  background-color: #1abc9c;
  border: 1px solid #1abc9c;
}
.btn-primary:hover {
  background: #16a085;
  background-color: #16a085;
  border: 1px solid #16a085;
}
.btn-success {
  background: #2ecc71;
  background-color: #2ecc71;
  border: 1px solid #2ecc71;
}
.btn-success:hover {
  background: #27ae60;
  background-color: #27ae60;
  border: 1px solid #27ae60;
}
.btn-info {
  background: #3498db;
  background-color: #3498db;
  border: 1px solid #3498db;
}
.btn-info:hover {
  background: #2980b9;
  background-color: #2980b9;
  border: 1px solid #2980b9;
}
.btn-grey {
  background: #95a5a6;
  background-color: #95a5a6;
  border: 1px solid #95a5a6;
  color: #ffffff;
}
.btn-grey:hover {
  background: #7f8c8d;
  background-color: #7f8c8d;
  border: 1px solid #7f8c8d;
}
.btn-caution {
  background: #f4d03f;
  background-color: #f4d03f;
  border: 1px solid #f4d03f;
}
.btn-caution:hover {
  background: #f1c40f;
  background-color: #f1c40f;
  border: 1px solid #f1c40f;
}
.btn-newblue {
  background: #60b7e1;
  background-color: #60b7e1;
  border: 1px solid #60b7e1;
}
.btn-newblue:hover {
  background: #46abdc;
  background-color: #46abdc;
  border: 1px solid #46abdc;
}
.btn-orange {
  background: #f46801;
  background-color: #f46801;
  border: 1px solid #f46801;
}
.btn-orange:hover {
  background: #d65b01;
  background-color: #d65b01;
  border: 1px solid #d65b01;
}
.btn-newgreen {
  background: #009e73;
  background-color: #009e73;
  border: 1px solid #009e73;
}
.btn-newgreen:hover {
  background: #007f5d;
  background-color: #007f5d;
  border: 1px solid #007f5d;
}
.btn-newlightgrey {
  background: #bfc8c9;
  background-color: #bfc8c9;
  border: 1px solid #bfc8c9;
}
.btn-newlightgrey:hover {
  background: #b6c1c2;
  background-color: #b6c1c2;
  border: 1px solid #b6c1c2;
}
.btn-newteal {
  background: #009e91;
  background-color: #009e91;
  border: 1px solid #009e91;
}
.btn-newteal:hover {
  background: #007f75;
  background-color: #007f75;
  border: 1px solid #007f75;
}
.btn-newyellow {
  background: #e0a800;
  background-color: #e0a800;
  border: 1px solid #e0a800;
}
.btn-newyellow:hover {
  background: #e0a800;
  background-color: #e0a800;
  border: 1px solid #e0a800;
}
/* =============================================================
     
Form controls. 
	
============================================================= */
fieldset {
  padding: 0;
  margin: 0;
  border: 0;
}
select,
textarea,
input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"],
input[type="color"],
.uneditable-input {
  padding: 0.625em;
  font-size: 0.625em;
  width: auto;
  margin-bottom: 10px;
  font-size: 0.875em;
  line-height: 1.7;
  color: #95a5a6;
  width: 13.750em;
  vertical-align: middle;
  font-family: 'Glegoo', 'Merriweather', 'oswald', 'Armata', 'HelveticaNeue', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}
input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
  color: #bdc3c7;
  font-size: 0.825em;
  padding-top: 2px;
  font-family: 'Glegoo', 'Merriweather', 'oswald', 'Armata', 'HelveticaNeue', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}
textarea {
  height: auto;
}
textarea,
input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"],
input[type="color"],
.uneditable-input {
  background-color: #ffffff;
  border: 1px solid #bdc3c7;
  -webkit-transition: border linear 0.2s, box-shadow linear 0.2s;
  -moz-transition: border linear 0.2s, box-shadow linear 0.2s;
  -o-transition: border linear 0.2s, box-shadow linear 0.2s;
  transition: border linear 0.2s, box-shadow linear 0.2s;
}
textarea:focus,
input[type="text"]:focus,
input[type="password"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="time"]:focus,
input[type="week"]:focus,
input[type="number"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="color"]:focus,
.uneditable-input:focus {
  border-color: #f46801;
  outline: 0;
  outline: thin dotted \9;
  /* IE6-9 */

  color: #7f8c8d;
  -webkit-box-shadow: 0 0 8px rgba(244, 104, 1, 0.6);
  -moz-box-shadow: 0 0 8px rgba(244, 104, 1, 0.6);
  box-shadow: 0 0 8px rgba(244, 104, 1, 0.6);
}
input[type="radio"],
input[type="checkbox"] {
  margin: 4px 0 0;
  margin-top: 1px \9;
  *margin-top: 0;
  line-height: normal;
}
.form-group::before,
.form-group::after {
  clear: both;
  display: table;
  content: "";
}
.form-group {
  float: left;
  color: #7f8c8d;
  margin-bottom: 1em;
  margin-right: 5px;
}
label {
  padding-top: 6px;
  margin-right: 0.625em;
  margin-bottom: 18px;
  font-family: "armata";
  display: block;
}
/* =============================================================
     
EasyDropdown Default Theme. 
	
============================================================= */
/* PREFIXED CSS */
.dropdown,
.dropdown div,
.dropdown li,
.dropdown div::after {
  -webkit-transition: all 150ms ease-in-out;
  -moz-transition: all 150ms ease-in-out;
  -ms-transition: all 150ms ease-in-out;
  transition: all 150ms ease-in-out;
}
.dropdown .selected::after,
.dropdown.scrollable div::after {
  -webkit-pointer-events: none;
  -moz-pointer-events: none;
  -ms-pointer-events: none;
  pointer-events: none;
}
/* WRAPPER */
/* Change the background color to whatever you want to match your styles */
.dropdown {
  position: relative;
  width: 160px;
  border: 1px solid #bdc3c7;
  cursor: pointer;
  background: #ffffff;
  color: #7f8c8d;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
  border-radius: 6px;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}
.dropdown.open {
  z-index: 2;
}
.dropdown:hover {
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
}
.dropdown.focus {
  box-shadow: 0 0 5px rgba(51, 102, 248, 0.4);
}
/* CARAT */
/* Change the background color to whatever you want to match your styles */
.dropdown .carat {
  position: absolute;
  right: 12px;
  top: 50%;
  margin-top: -3px;
  border: 6px solid transparent;
  border-top: 6px solid #bdc3c7;
}
.dropdown.open .carat {
  margin-top: -10px;
  border-top: 6px solid transparent;
  border-bottom: 6px solid #bdc3c7;
}
/* OLD SELECT (HIDDEN) */
.dropdown .old {
  position: absolute;
  left: 0;
  top: 0;
  height: 0;
  width: 0;
  overflow: hidden;
}
.dropdown select {
  position: absolute;
  left: 0px;
  top: 0px;
}
.dropdown.touch .old {
  width: 100%;
  height: 100%;
}
.dropdown.touch select {
  width: 100%;
  height: 100%;
  opacity: 0;
}
/* SELECTED FEEDBACK ITEM */.dropdown .selected,
.dropdown li {
  display: block;
  font-size: 1em;
  line-height: 1;
  /* 	color: #000; */

  color: inherit;
  padding: 9px 12px;
  overflow: hidden;
  white-space: nowrap;
}
.dropdown .selected::after {
  content: '';
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  width: 60px;
  /* 	box-shadow: inset -55px 0 25px -20px #fff; */

}
/* DROP DOWN WRAPPER */
.dropdown div {
  position: absolute;
  height: 0;
  left: -1px;
  right: -1px;
  top: 100%;
  margin-top: -1px;
  background: #fff;
  border: 1px solid #ccc;
  border-top: 1px solid #eee;
  border-radius: 0 0 6px 6px;
  overflow: hidden;
  opacity: 0;
}
/* Height is adjusted by JS on open */
.dropdown.open div {
  opacity: 1;
  z-index: 2;
}
/* FADE OVERLAY FOR SCROLLING LISTS */
.dropdown.scrollable div::after {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  height: 50px;
  /* 	box-shadow: inset 0 -50px 30px -35px #fff; */

}
.dropdown.scrollable.bottom div::after {
  opacity: 0;
}
/* DROP DOWN LIST */
.dropdown ul {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  list-style: none;
  overflow: hidden;
  margin: 0;
  padding-left: 0;
}
.dropdown.scrollable.open ul {
  overflow-y: auto;
}
/* DROP DOWN LIST ITEMS */
.dropdown li {
  list-style: none;
  padding: 8px 12px;
  color: #7f8c8d;
}
/* .focus class is also added on hover */
/* Change the background color to whatever you want to match your styles */
.dropdown li.focus {
  background: #f46801;
  position: relative;
  z-index: 3;
  color: #ffffff;
}
.dropdown li.active {
  font-weight: 700;
}
.left-float {
  float: left;
}
.right-float {
  float: right;
}
.center-float {
  margin: 0 auto;
}
.text-left {
  text-align: left;
}
.text-right {
  text-align: right;
}
.text-center {
  text-align: center;
}
.justified {
  text-align: justify;
}
.neg-1px {
  letter-spacing: -1px;
}
.hr_thin {
  border: 1px solid #ecf0f1;
}
.hr_medium {
  border: 3px solid #ecf0f1;
}
.hr_thick {
  border: 5px solid #ecf0f1;
}
.hr_thin_w {
  border: 1px solid #ffffff;
}
.hr_medium_w {
  border: 3px solid #ffffff;
}
.hr_thick_w {
  border: 5px solid #ffffff;
}
.drop-shadow {
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.4);
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.4);
}
.round-corners {
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
  border-radius: 6px;
}
.border-bottom {
  border-bottom: 1px solid #ecf0f1;
  padding-bottom: .5em;
  margin-bottom: 1em;
}
body {
  background: #ffffff;
  background-color: #ffffff;
  font: 16px/23px "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 1.000em;
  line-height: 1.9;
  margin: 0;
  /*height: 100%;
	width: 100%;*/

  -webkit-font-smoothing: antialiased;
  /* Fix for webkit rendering */

  -webkit-text-size-adjust: 100%;
  color: red;
}
.clearfix {
  *zoom: 1;
}
.clearfix:before,
.clearfix:after {
  display: table;
  line-height: 0;
  content: "";
}
.clearfix:after {
  clear: both;
}
.input-block-level {
  display: block;
  width: 100%;
  min-height: 30px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section {
  display: block;
  margin: 0;
}
html {
  font-size: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}
